body {
    background-color: rgb(11, 35, 79);
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: smaller;
}

/* .red{
    color: red;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
} */
.gh-tag{
    text-decoration: underline;
    text-decoration-color: white;
    background: linear-gradient(to right, red , yellow, green);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
}
.gh-tag:visited{
    text-decoration: white;
}
.middle-box{

}
.l-box{
    

}
.list{
    list-style-type: none;
    padding-left: 0;
}
.link{
    color: white;
}
.link:visited{
    text-decoration: white;
}